@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto+Slab:wght@100;400&display=swap');

body {
  background-color: #214761;
  /* font-family: 'Orbitron', sans-serif;
  font-family: 'Roboto Slab', serif; */
}

h1 {
  font-family: 'Roboto Slab', serif !important;
}

.delete-dino {
  width: 44px;
}
